<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
      <div class="card-body p-5 text-center">
          <h2><%= t('.forgot_your_password') %></h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-outline mb-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-outline mb-2">
            <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>
          </div>
        <% end %>

        <hr class="my-3">

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
