<div class="row d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
      <div class="card-body p-5 text-center">

        <h3 class="mb-5"><%= t('.sign_in') %></h3>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-outline mb-3">
            <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class:'form-control' %>
            <%= f.label :email, class:'form-label' %>
          </div>

          <div class="form-outline mb-2"> 
            <%= f.password_field :password, required: true, autocomplete: "current-password", class:'form-control' %>
            <%= f.label :password, class:'form-label' %>
          </div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-start mb-2">
            <%= f.check_box :remember_me, class:'form-check-input' %>
            <%= f.label :remember_me, class:'form-check-label' %>
          </div>

          <%= f.submit t('.sign_in'), class:'btn btn-primary btn-block'%>
        <% end %>

        <hr class="my-3">
        
        <br><%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
