<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">Cuno</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      <div>Movie Portal</div>
      <ul class="navbar-nav ms-md-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li> 
          <li class="nav-item">
            <%= link_to 'account settings', edit_user_registration_path, class: 'nav-link' %>
          </li>        
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li> 
          <li class="nav-item">
            <%= link_to 'Join', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
</nav>
